In [15]:
import pandas as pd
import numpy as np

# Exp1 Split title and name

In [2]:
data = [{"name": "Mr Charlie dupont"},
        {"name": "Ms Alice Doe"},
        {"name": "Mme Sara Doe"},]

In [3]:
df=pd.DataFrame(data)

In [4]:
df.head()

                name
0  Mr Charlie dupont
1       Ms Alice Doe
2       Mme Sara Doe

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
dtypes: object(1)
memory usage: 152.0+ bytes

In [12]:
df["title"]=df.name.str.split(" ").map(lambda x: x[0])
df["first_name"]=df.name.str.split(" ").map(lambda x: x[1])
df["last_name"]=df.name.str.split(" ").map(lambda x: x[-1])

In [13]:
df.head()

                name title first_name last_name
0  Mr Charlie dupont    Mr    Charlie    dupont
1       Ms Alice Doe    Ms      Alice       Doe
2       Mme Sara Doe   Mme       Sara       Doe

In [18]:
df["sex"]=np.where(df['title']!= 'Mr', "F", "M")

In [19]:
df.head()

                name title first_name last_name sex
0  Mr Charlie dupont    Mr    Charlie    dupont   M
1       Ms Alice Doe    Ms      Alice       Doe   F
2       Mme Sara Doe   Mme       Sara       Doe   F

## Split date

Some time, the split can be more complicate. Consider the following example, the movie name contains also the year of the movie

In [20]:
data1=[{"name":"Toy Story (1995)"},
      {"name":"Grumpier Old Men (1996)"},
      {"name":"Waiting to Exhale (1997)"},
      {"name":"Father of the Bride Part II (1998)"}
      ]

In [21]:
pdf1=pd.DataFrame(data1)

In [22]:
pdf1.head()

                                 name
0                    Toy Story (1995)
1             Grumpier Old Men (1996)
2            Waiting to Exhale (1997)
3  Father of the Bride Part II (1998)

In [23]:
pdf1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
dtypes: object(1)
memory usage: 160.0+ bytes

In [24]:
pdf1["Year"]=pdf1.name.str.split("(", n=1, expand=True)[1].str.split(")", n=1, expand=True)[0]

You can notice we have done two splits to parse the movie name.
For example, for string "Toy Story (1995)", the first split with "(", returns ["Toy Story (","1995)"]. We take the second items with index(1).
Then we do second split with ")", it returns ["1995",""], We take the first items with index(0)

In [25]:
pdf1.head()

                                 name  Year
0                    Toy Story (1995)  1995
1             Grumpier Old Men (1996)  1996
2            Waiting to Exhale (1997)  1997
3  Father of the Bride Part II (1998)  1998