In [1]:
import pandas as pd

In [2]:
data = [{"name": "Mr Charlie dupont"},
        {"name": "Ms Alice Doe"},
        {"name": "Mme Sara Doe"},]

In [3]:
df=pd.DataFrame(data)

In [4]:
df.head()

                name
0  Mr Charlie dupont
1       Ms Alice Doe
2       Mme Sara Doe

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
dtypes: object(1)
memory usage: 152.0+ bytes

In [12]:
df["title"]=df.name.str.split(" ").map(lambda x: x[0])
df["first_name"]=df.name.str.split(" ").map(lambda x: x[1])
df["last_name"]=df.name.str.split(" ").map(lambda x: x[-1])

In [13]:
df.head()

                name title first_name last_name
0  Mr Charlie dupont    Mr    Charlie    dupont
1       Ms Alice Doe    Ms      Alice       Doe
2       Mme Sara Doe   Mme       Sara       Doe