In [2]:
import pandas as pd

In [12]:
data={'raw_value':[2,45, -23, 85, 28, 2, 35, -12]}

# 1 Scaling with Pandas

## 1.1 Min-max normalization

In [13]:
pdf = pd.DataFrame(data)
pdf.head()

   raw_value
0          2
1         45
2        -23
3         85
4         28

In [14]:
source_col_name="raw_value"
min_max_norme_col_name="min_max_normalized"
pdf[min_max_norme_col_name] = (pdf[source_col_name] - pdf[source_col_name].min()) / (pdf[source_col_name].max() - pdf[source_col_name].min())
pdf.head()

   raw_value  min_max_normalized
0          2            0.231481
1         45            0.629630
2        -23            0.000000
3         85            1.000000
4         28            0.472222

## 1.2 Z-score normalization

In [16]:
pdf['z_normalized'] = (pdf[source_col_name] - pdf[source_col_name].mean()) / pdf[source_col_name].std()

In [17]:
pdf.head()

   raw_value  min_max_normalized  z_normalized
0          2            0.231481     -0.518878
1         45            0.629630      0.703684
2        -23            0.000000     -1.229670
3         85            1.000000      1.840952
4         28            0.472222      0.220346

# 2. Scaling with spark

In [ ]:
from pyspark.sql import SparkSession
import os
from pyspark.sql.functions import col,split,when,lit

In [ ]:
local=True
if local:
    spark = SparkSession.builder\
        .master("local[4]")\
        .appName("Feature_grouping")\
        .getOrCreate()
else:
    spark = SparkSession.builder\
        .master("k8s://https://kubernetes.default.svc:443")\
        .appName("Feature_grouping")\
        .config("spark.kubernetes.container.image", "inseefrlab/jupyter-datascience:master")\
        .config("spark.kubernetes.authenticate.driver.serviceAccountName", os.environ['KUBERNETES_SERVICE_ACCOUNT'])\
        .config("spark.executor.instances", "4")\
        .config("spark.executor.memory","2g")\
        .config("spark.kubernetes.namespace", os.environ['KUBERNETES_NAMESPACE'])\
        .getOrCreate()

# make the large dataframe show pretty
spark.conf.set("spark.sql.repl.eagerEval.enabled",True)